body {
    height: 100vh;
}

#main-div {
  text-align: center;
  padding-top: 20px ;
  padding-bottom: 40px ;
}

#play-button {
  text-align: center;
  padding-top: 20px ;
  padding-bottom: 40px ;
}

.buttonimage {
  width: 30px;
  height: 30px;
  padding-top: 10px;
} 

.container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
} 

.container div span{
  font-weight: bold;
  text-align: center;
} 

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  box-shadow: 0px 0px 15px #90fa8773;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

table {
  background-color: #2b5246;
  table-layout: fixed;
  width: 400px; 
  height: 400px;
}

td {
  border: 1px solid #90fa8773;
  background-color: #90fa8773;
  border-radius: 20%;
  border-style: ridge;
  text-align: center;
  color: #5d5fd6;
  font-weight: bold;
  height: 20px;
}

.dropbtn {
  background-color: #4CAF50;
  box-shadow: 0px 0px 15px #90fa8773;
  color: white;
  height: 40px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #4CAF50;
}
    
img {
  max-width:100%;
  max-height:100%;
}

.activate {
  animation: shake 200ms 2 linear;
}
    
@keyframes shake {
  0% {
    transform: translate(6px, 0);
  }
  50% {
    transform: translate(-6px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
    
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 600px;
  max-height: 500px;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 20px;
  z-index: 10;
  background-color: #2b5246;
  padding: 20px;
}
    
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
    
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}
    
#overlay.active {
  opacity: 1;
  pointer-events: all;
}

h2 {
  text-align: center;
  color: white;
  font-size: 36px;
}

#status-div {
  animation: blinker 1s linear infinite;
  font-family: 'Hurricane', cursive;
  font-family: 'Rubik Wet Paint', cursive;
  color: rgb(185, 5, 41);
  font-size: 30px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

html { 
background: url(../images/backyard.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
} 